.player__image {
    background: transparent url(../../../images/player.png) no-repeat 1px 1px;
    width: 510px;
    height: 510px;
}

@media screen and (max-width: 1250px){
    .player__image {
        background: transparent url(../../../images/player.png) no-repeat 0.080vw 0.080vw;
        width: 40.800vw;
        height: 40.800vw;
    }
}