.audioplayer {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    align-items: baseline;
    border-radius: 4px;
    margin: auto;
}

.audioplayer-playpause {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 48px;
    height: 48px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
    content: '';
    justify-content: center;
    width: 0;
    height: 0;
    margin-left: 2px;
    border-top: 7px solid transparent;
    border-right: none;
    border-bottom: 7px solid transparent;
    border-left: 12px solid #ffffff;
}

.audioplayer-playing .audioplayer-playpause a {
    content: '';
    display: flex;
    justify-content: space-between;
    width: 12px;
    height: 14px;
}

.audioplayer-playing .audioplayer-playpause a::before, .audioplayer-playing .audioplayer-playpause a::after {
    content: '';
    width: 4px;
    height: 14px;
    background-color:#3d10f1;
}

.audioplayer-time {
    display: flex;
    width: 40px;
    justify-content:center;
    font-size: 12px;
    color: rgb(255, 255, 255)
}

.audioplayer-time-current {
    margin-left: 24px;
}

.audioplayer-time-duration {
    margin-right: 24px;
}

.audioplayer-bar {
    position: relative;
    display: flex;
    margin: 0 12px;
    height: 12px;
    flex-basis: 0;
    flex-grow: 1;
    cursor: pointer;
}

.audioplayer-bar::before {
    content: '';
    position: absolute;
    top: 5px;
    width: 100%;
    height: 2px;
    background-color: #DDE2E6;
}

.audioplayer-bar > div {
    position: absolute;
    left: 0;
    top: 5px;
}
.audioplayer-bar-loaded {
    z-index: 1;
    height: 2px;
    background: #BEC8D2;
}

.audioplayer-bar-played {
    flex-direction: row-reverse;
    z-index: 2;
    height: 2px;
    background: -webkit-linear-gradient(left,#7A66CC,#4825d4);
}

.audioplayer-bar-played::after {
    display: flex;
    position: absolute;
    content: '';
    box-sizing: border-box;
    top: -5px;
    right: -1px;
    margin-right: -5px;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 6px;
}

.audioplayer:not(.audioplayer-playing) .audioplayer-bar-played::after {
    border: 2px solid #BEC8D2;
}

.audioplayer-playing .audioplayer-bar-played::after {
    border: 2px solid #3d10f1;

}

.audioplayer-volume {
    display: flex;
    align-items: center;
}

.audioplayer-volume-button {
    display: flex;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.audioplayer-volume-button a {
    display: flex;
    width: 6px;
    height: 8px;
    background-color: #ffffff;
    position: relative;
}

.audioplayer-volume-button a:before, .audioplayer-volume-button a:after {
    content: '';
    position: absolute;
}

.audioplayer-volume-button a:before {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-right: 9px solid #ffffff;
    border-bottom: 8px solid transparent;
    border-left: none;
    top: -4px;
}

.audioplayer:not(.audioplayer-mute) .audioplayer-volume-button a:after {
    left: 10px;
    top: -2px;
    width: 6px;
    height: 6px;
    border: 6px double #ffffff;
    border-width: 6px 6px 0 0;
    border-radius: 0 12px 0 0;
    transform: rotate(45deg);
}

.audioplayer-mute .audioplayer-volume-button a {
    background-color: #3d10f1;
}

.audioplayer-mute .audioplayer-volume-button a:before {
    border-right: 9px solid #3d10f1;
}

.audioplayer-volume-adjust {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.audioplayer-volume-adjust > div {
    position: relative;
    display: flex;
    width: 60px;
    height: 2px;
    cursor: pointer;
    background-color: #ffffff;
}

.audioplayer-volume-adjust div div {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    background-color: #3d10f1;
}

@media screen and (max-width: 1250px){
    .audioplayer {
        height: max-content;
        border-radius: 0.32vw;
    }
    
    .audioplayer-playpause {
        width: 1vw;
        height: 1vw;
    }
    
    .audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
        margin-left: 0.160vw;
        border-top: 0.560vw solid transparent;
        border-bottom: 0.560vw solid transparent;
        border-left: 0.960vw solid #ffffff;
    }
    
    .audioplayer-playing .audioplayer-playpause a {
        width: 0.960vw;
        height: 1.120vw;
    }
    
    .audioplayer-playing .audioplayer-playpause a::before, .audioplayer-playing .audioplayer-playpause a::after {
        width: 0.320vw;
        height: 1.120vw;
    }
    
    .audioplayer-time {
        width: 3.200vw;
        font-size: 0.960vw;
    }
    
    .audioplayer-time-current {
        margin-left: 1.920vw;
    }
    
    .audioplayer-time-duration {
        margin-right: 1.920vw;
    }
    
    .audioplayer-bar {
        margin: 0 0.960vw;
        height: 0.960vw;
    }
    
    .audioplayer-bar::before {
        top: 0.400vw;
        height: 0.160vw;
    }
    
    .audioplayer-bar > div {
        top: 0.400vw;
    }
    .audioplayer-bar-loaded {
        height: 0.160vw;
    }
    
    .audioplayer-bar-played {
        height: 0.160vw;
    }
    
    .audioplayer-bar-played::after {
        top: -0.400vw;
        right: -0.080vw;
        margin-right: -0.400vw;
        width: 0.960vw;
        height: 0.960vw;
        border-radius: 0.480vw;
    }
    
    .audioplayer:not(.audioplayer-playing) .audioplayer-bar-played::after {
        border: 0.160vw solid #BEC8D2;
    }
    
    .audioplayer-playing .audioplayer-bar-played::after {
        border: 0.160vw solid #3d10f1;
    
    }
    
    .audioplayer-volume-button {
        width: 1.920vw;
        height: 1.920vw;
    }
    
    .audioplayer-volume-button a {
        width: 0.480vw;
        height: 0.640vw;
    }
    
    .audioplayer-volume-button a:before {
        border-top: 0.640vw solid transparent;
        border-right: 0.720vw solid #ffffff;
        border-bottom: 0.640vw solid transparent;
        top: -0.320vw;
    }
    
    .audioplayer:not(.audioplayer-mute) .audioplayer-volume-button a:after {
        left: 0.800vw;
        top: -0.160vw;
        width: 0.480vw;
        height: 0.480vw;
        border: 0.480vw double #ffffff;
        border-width: 0.480vw 0.480vw 0 0;
        border-radius: 0 0.960vw 0 0;
    }
    
    .audioplayer-mute .audioplayer-volume-button a:before {
        border-right: 0.720vw solid #3d10f1;
    }
    
    .audioplayer-volume-adjust {
        margin-left: 0.640vw;
    }
    
    .audioplayer-volume-adjust > div {
        width: 4.800vw;
        height: 0.160vw;
    }
    
    .audioplayer-volume-adjust div div {
        height: 0.160vw;
    }
}