.page {
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Poppins';
    background: rgb(28, 27, 33);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* overflow: hidden; */
    color: #FFFFFF;
}

a {
    cursor: pointer;
}