.discription {
    width: 1110px;
    height: 594px;
    margin: 0 auto;
    position: relative;
}

.discription__block {
    width: 594px;
}

@media screen and (max-width: 1250px){
    .discription {
        width: 88.800vw;
        height: max-content;
    }
    
    .discription__block {
        width: 47.520vw;
    }
}