.player__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    margin: 0 auto 62px 10px;
    background: transparent url(../../../images/Group31.svg) no-repeat 4px 24px;
    padding: 0 0 0 94px;
}

@media screen and (max-width: 1250px){
    .player__title {
        font-size: 3.840vw;
        line-height: 5.760vw;
        margin: 0 auto 10px 2px;
        background: transparent url(../../../images/Group31.svg) no-repeat 0.320vw 1.920vw;
        padding: 0 0 0 7.520vw;
        background-size: 11%;
    }
}