.discription__list {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 62px 0 0;
}

.discription__list li{
   list-style-type: none;
   position: relative;
   margin: 0 50px 30px;
   padding: 0;
   width: 197px;
}

.discription__list li::before {
    content: '';
    position: absolute;
    background: #7A66CC;
    border-radius: 10px 0px;
    width: 30px;
    height: 30px;
    margin: 0 20px 30px 0;
    top: -4;
    left: -50px;
}

@media screen and (max-width: 1250px){
    .discription__list {
        font-size: 1.440vw;
        line-height: 2.160vw;
        margin: 4.960vw 0 0;
    }
    
    .discription__list li{
       margin: 0 4vw 2.400vw;
       width: 15.760vw;
    }
    
    .discription__list li::before {
        border-radius: 0.800vw 0;
        width: 2.400vw;
        height: 2.400vw;
        margin: 0 1.600vw 2.400vw 0;
        top: -0.320vw;
        left: -4vw;
    }
}

@media screen and (max-width: 600px){
    .discription__list {
        font-size: 1.8vw;
        line-height: 2vw;
        margin: 8.96vw 0 0;
    }    
    .discription__list li{
        margin: 0 4vw 2.4vw;
        width: 15.760vw;
    }
}