.quote__text {
    font-size: 18px;
    line-height: 27px;
    background: transparent url(../../../images/“.svg) no-repeat 0 0;
    width: 520px;
    height: max-content;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    padding-bottom: 25px;
    margin: 50px auto 25px 80px;
}


@media screen and (max-width: 1250px){
    .quote__text {
        font-size: 1.440vw;
        line-height: 2.160vw;
        width: 41.600vw;
        padding-bottom: 2vw;
        margin: 4vw auto 2vw 6.400vw;
        background-size: 20%;
    }
}