.content {
    max-width: 1920px;
    margin: 0 auto;
    background: rgb(28, 27, 33);
    background: transparent;
    height: max-content;
}

/* @media screen and (max-width: 767px){
    .content {
        background: white;
    }
    .content section {
        background: #fbfbfb;
    }
} */