.discription__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 62px;
    background: transparent url(../../../images/Group31.svg) no-repeat 4px 24px;
    padding: 0 0 0 94px;
}

.player .discription__title {
    margin: 0 auto 62px 10px;
}