.player__playlist {
    width: 540px;
}

.player__playlist li{
    margin: 0 auto 20px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    padding-left: 17px;
}

.player__playlist_active {
    font-weight: 600 !important;
    font-size: 18px;
    line-height: 27px;
    color: #7A66CC;
}

@media screen and (max-width: 1250px){
    .player__playlist {
        width: 43.200vw;
    }
    
    .player__playlist li{
        margin: 0 auto 1.600vw;
        font-size: 1.440vw;
        line-height: 2.160vw;
        padding-left: 1.360vw;
    }
    
    .player__playlist_active {
        font-size: 1.440vw;
        line-height: 2.160vw;
    }
}


@media screen and (max-width: 600px){
    .player__playlist li{
        margin: 0 auto 1.6vw;
        font-size: 1.80vw;
        line-height: 3.16vw;
        padding-left: 1.36vw;
    }
}
