.logo {
    width: 223px;
    height: 60px;
}

.footer .logo {
    margin: 0 auto 50px;
}


@media screen and (max-width: 1250px){
    .logo {
        width: 17.840vw;
        height: 4.800vw;
    }
    
    .footer .logo {
        margin: 0 auto 4vw;
    }
}


@media screen and (max-width: 450px){
    .logo {
        width: 44.444vw;
        height: 11.111vw;
    }
}
