.footer__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    text-align: left;
}

.footer__text:last-child {
    text-align: right;
}


@media screen and (max-width: 1250px){
    .footer__text {
        font-size: 1.440vw;
        line-height: 2.160vw;
    }
}