.events__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin: 0 auto 24px 35px;
}

@media screen and (max-width: 1250px){
    .events__text {
        font-size: 1.440vw;
        line-height: 2.160vw;
        margin: 0 auto 2.3vw 2.8vw;
    } 
}