.player {
    margin: 0 auto 180px;
    width: 1110px;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ol {
    list-style-type: decimal-leading-zero;
}

li::marker {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    margin: 17px;
}