.player {
    margin: 0 auto 180px;
    width: 1110px;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player__music {
    position: absolute
}

ol {
    list-style-type: decimal-leading-zero;
    padding: 0 0 0 35px;
    margin: 0;
}

li::marker {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
    margin: 17px;
}

.player li span {
    cursor: pointer;
}


@media screen and (max-width: 1250px){
    .player {
        margin: 0 auto 14.400vw;
        width: 88.800vw;
    }

    ol {
        padding: 0 0 0 2.800vw;
    }

    li::marker {
        font-size: 1.120vw;
        line-height: 1.680vw;
        margin: 1.360vw;
    }
}
@media screen and (max-width: 600px){
    li::marker {
        font-size: 1.7vw;
    }
}