.player__icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

@media screen and (max-width: 1250px){
    .player__icon {
        width: 2.400vw;
        height: 2.400vw;
        margin-right: 0.800vw;
    }
}