.footer {
    width: 533px;
    height: 414px;
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1250px){
    .footer {
        width: 42.640vw;
        height: 33.120vw;
    }
    .footer__icon {
        width: 4.800vw;
        height: 4.800vw;
    }
}