.discription__image_first {
    position: absolute;
    background: transparent url(../../../images/Rectangle16.png) no-repeat;
    width: 350px;
    height: 408px;
    top: 58px;
    right: 101px;
    z-index: 2;
}

@media screen and (max-width: 1250px){
    .discription__image_first {
        width: 28vw;
        height: 32.640vw;
        top: 4.640vw;
        right: 8.080vw;
        background-size: 90%;
    }
}

@media screen and (max-width: 600px){
    .discription__image_first {
        width: 31vw;
        top: 7.64vw;
        right: 6.08vw;
        background-size: 100%;
        height: 35.64vw;
    }
}