.discription__image_second {
    position: absolute;
    background: transparent url(../../../images/Rectangle17.png) no-repeat;
    width: 350px;
    height: 408px;
    top: 134px;
    right: 14px;
}