.discription__image_second {
    position: absolute;
    background: transparent url(../../../images/Rectangle17.png) no-repeat;
    width: 350px;
    height: 408px;
    top: 134px;
    right: 14px;
}

@media screen and (max-width: 1250px){
    .discription__image_second {
        width: 28vw;
        height: 32.640vw;
        top: 10.720vw;
        background-size: 90%;
        right: 1.120vw;
    }
}