/* Arrows */
.slick-prev,
.slick-next
{
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    outline: none;
    opacity: .65;
}
.slick-prev
{
    background: transparent url(../../images/angle-circle-left.svg) no-repeat center / 85%;
}

.slick-next
{
    background: transparent url(../../images/angle-circle-right.svg) no-repeat center / 85%;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    opacity: .55;
}

.slick-prev
{
    left: -36px;
}

.slick-next
{
    right: -36px;
}


@media screen and (max-width: 1250px){
    .slick-prev,
    .slick-next
    {
        width: 4.400vw;
        height: 4.400vw;
    }
    .slick-prev
    {
        left: -2vw;
    }
    .slick-next
    {
        right: -2vw;
    }
}