.header__single {
    margin: 330px auto 0;
    width: 1110px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (max-width: 1250px){
    .header__single {
        margin: 26.4vw auto 0;
        width: 88.800vw;
    }  
}
